<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="chatStyles.css">
</head>
<body>
    <div class="container">
        <h1>Chat</h1>
        <p id="name"><%= name %></p>
        <p id="room"><%= room %></p>

        <div id="message-container"></div>

        <div id="input-container">
            <div id="message-input-container" class="input-section">
                <textarea id="message-input" placeholder="Input message"></textarea>
                <button id="send-button" class="action-button">Send</button>
                <button id="exit-button" class="action-button">Exit</button>
            </div>
        </div>
    </div>
    <script src="addMessage.js"></script>
    <script src="event.js"></script>
    <script src="joinedEvent.js"></script>
    <script src="messageEvent.js"></script>
    <script src="leftUserEvent.js"></script>
    <script src="errorEvent.js"></script>
    <script src="mapEvent.js"></script>
    <script src="app.js"></script>
</body>
</html>